@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .invisible-button {
        @apply inline-flex items-center justify-center bg-transparent text-text focus-visible:outline outline-focus outline-offset-2 outline-[1.5px];
    }

    .aside-link {
        @apply p-3 flex items-center gap-4 rounded-sm outline-focus outline-1 focus-visible:outline hover:bg-aside-link-hover;
    }

    .card-link {
        @apply hover:outline focus-visible:outline outline-focus outline-offset-2 outline-[1.5px];
    }
}

.theme {
    --color-gray-50: #f8fafc;
    --color-gray-100: #f1f5f9;
    --color-gray-200: #e2e8f0;
    --color-gray-300: #cbd5e1;
    --color-gray-400: #94a3b8;
    --color-gray-500: #64748b;
    --color-gray-600: #475569;
    --color-gray-700: #334155;
    --color-gray-800: #1e293b;
    --color-gray-900: #0f172a;

    --color-danger-light: #fecaca;
    --color-danger: #dc2626;
    --color-danger-dark: #991b1b;

    --color-success-light: #bbf7d0;
    --color-success: #16a34a;
    --color-success-dark: #166534;

    --color-blue-light: #93c5fd;
    --color-blue: #2563eb;
    --color-blue-dark: #1e40af;

    --color-orange-light: #fdba74;
    --color-orange: #ea580c;
    --color-orange-dark: #9a3412;

    --color-brand-light: var(--color-blue-light);
    --color-brand: var(--color-blue);
    --color-brand-dark: var(--color-blue-dark);
    --color-brand-text: var(--color-brand);

    --color-surface-0: var(--color-gray-100);
    --color-surface-1: white;

    --color-text: var(--color-gray-900);
    --color-border: var(--color-gray-300);
    --color-focus: var(--color-brand-dark);
    --color-aside-link-hover: var(--color-gray-100);
    --color-aside-link-active: var(--color-gray-200);

    --radii-sm: 2px;
    --radii-md: 4px;
    --radii-lg: 8px;
}

.theme[color-scheme="blue"] {
    --color-brand-light: var(--color-blue-light);
    --color-brand: var(--color-blue);
    --color-brand-dark: var(--color-blue-dark);
}

.theme[color-scheme="orange"] {
    --color-brand-light: var(--color-orange-light);
    --color-brand: var(--color-orange);
    --color-brand-dark: var(--color-orange-dark);
}

.theme[dark-mode="true"] {
    --color-surface-0: var(--color-gray-900);
    --color-surface-1: var(--color-gray-800);

    --color-text: var(--color-gray-50);
    --color-border: var(--color-gray-600);
    --color-focus: var(--color-brand-light);
    --color-aside-link-hover: var(--color-gray-700);
    --color-aside-link-active: var(--color-gray-600);
}

@media (prefers-color-scheme: light) {
    .theme {
        --color-surface-0: var(--color-gray-100);
        --color-surface-1: white;

        --color-text: var(--color-gray-900);
        --color-border: var(--color-gray-300);
        --color-focus: var(--color-brand-dark);
        --color-aside-link-hover: var(--color-gray-100);
        --color-aside-link-active: var(--color-gray-200);
    }
}

@media (prefers-color-scheme: dark) {
    .theme:not([dark-mode="false"]) {
        --color-surface-0: var(--color-gray-900);
        --color-surface-1: var(--color-gray-800);

        --color-text: var(--color-gray-50);
        --color-border: var(--color-gray-600);
        --color-focus: var(--color-brand-light);
        --color-aside-link-hover: var(--color-gray-700);
        --color-aside-link-active: var(--color-gray-600);
    }
}

@media only screen and (max-width: 1023.9px) {
    .drawer {
        position: fixed;
        width: 280px;
        height: 100%;
        left: -280px;
        transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);;
    }
    
    .drawer[data-is-open="true"] {
        transform: translateX(280px);
        box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.45);
    }   
}